* {
    font-family: Arial, "Century Gothic", sans-serif;
    line-height: 1.5;
}

h1 {
    background-color: black;
    color: white;
    padding-left: 10px;;
    width: 300px;
    margin-right: auto;
}
