* {
    font-family: Arial, "Century Gothic", sans-serif;
    line-height: 1.5;
}

h1 {
    background-color: black;
    color: white;
    padding-left: 10px;;
    width: 300px;
    margin-right: auto;
}

img {
    border-color: black;
    border-style: groove;
    height: auto;
    width: 200px;
    margin: 0 auto;
}

h3 {
    margin: 20px;
}

.recipe-card {
    border-style: groove;
    border: black;
    background-color:aliceblue;
}

.homepage-link {
    color: white;
    background-color: black;
}